.App {
  text-align: center;
  text-transform: uppercase;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h4 {
  margin: 1px;
  font-size: 5vw;
}
.snowmanImage {
  width: 45vw;
}
header {
  font-size: 15vw;
}
button.newGame {
  font-size: 4vw;
  margin: 0.8vw;
  width: 25vw;
  height: 7vw;
  text-transform: uppercase;
}
.correctLetters {
  color: red;
  margin: 1.5vw;
  font-size: 10vw;
}
section {
  display: flex;
  justify-content: center;
}
button {
  margin: 0.3vw;
  width: 7vw;
  height: 7vw;
  font-size: 4.1vw;
  border-radius: 2vw;
  text-transform: uppercase;
}
button:hover {
  box-shadow: 0 0 1vw red;
}

span {
  font-size: 5vw;
}
